.popup-notice {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    opacity: 0;
    transition: display 1ms, opacity 1s ease-in-out;
    z-index: 100000;

    &.visible {
        display: block;
        opacity: 1;
    }
}

.popup-notice__inner {
    background: #fffff3;
    padding: 40px 20px 20px;
    box-shadow: 1px 0px 15px 5px rgba(0,0,0,0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 90%;
    @media screen and (min-width: 500px) {
        padding: 40px 30px 30px;
        min-width: 500px;
        width: 50vw;
        max-width: 800px;
    }
}

.popup-notice__close {
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 8px;
    padding: .5rem;

    &.icon {
        top: 0;
        right: 0;
        background-image: url('../img/close.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px;
        opacity: 0.5;
    }
}

.popup-notice__content {
    max-height: 80vh;
    overflow-y: auto;

    p {
        margin-top: 0;
    }
}
